.header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 226);
}

.header .title {
  height: 6rem;
  font-size: 6rem;
  font-weight: 500;
}

.header .subtitle {
  height: 1.7rem;
  font-size: 1.7rem;
  font-weight: normal;
}

.header p {
  height: 1.5rem;
  font-size: 1.3rem;
}

.search-container {
  margin-top: 15px;
  width: 170px;

  display: flex;
  align-items: center;
}

.search-icon {
  height: 1.2rem;
  width: auto;

  margin: 0;
  padding: 0;
}

.search-container input {
  color: rgb(226, 226, 226) e;

  width: 100%;
  margin: 0;
  padding: 0 5px;
  font-size: 1.3rem;

  border: none;
  border-bottom: rgb(226, 226, 226) 2px solid;
  background: transparent;
}

input::placeholder {
  color: rgb(182, 182, 182);
}
input:focus {
  outline: none;
}
