.header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 226);
}

.header .title {
  height: 6rem;
  font-size: 6rem;
  font-weight: 500;
}

.header .subtitle {
  height: 1.7rem;
  font-size: 1.7rem;
  font-weight: normal;
}

.header p {
  height: 1.5rem;
  font-size: 1.3rem;
}
