* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Dongle", sans-serif;
}

.App {
  width: 100vw;
}

#svg {
  position: absolute;
  top: 0;

  z-index: -1;

  height: 70vh !important;

  background-image: linear-gradient(
    to top,
    #adc4f0 0%,
    #2c65d0 20%,
    #000000 100%
  );
}

.posts-container {
  padding: 0vh 5vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
